@import url('https://fonts.googleapis.com/css2?family=Cairo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: cairo, sans-serif, ui-sans-serif, system-ui;
}

body {
	font-family: cairo, sans-serif, ui-sans-serif, system-ui;
}

::-webkit-scrollbar {
	width: 8px;
	height: 5px;
	background: #dcdcdf;
}

::-webkit-scrollbar:hover {
	width: 10px;
	height: 5px;
	background: #dcdcdf;
}

::-webkit-scrollbar-thumb {
	@apply bg-slate-400;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

.ant-table-fixed {
	table-layout: fixed;
}

.ant-table-tbody > tr > td {
	white-space: nowrap;
	/* word-wrap: break-word; */
	word-break: break-all;
}

.hidden {
	display: none;
}
.flex {
	display: flex;
}
.basis-1\/2 {
	flex-basis: 50%;
}
.flex-grow {
	flex-grow: 1;
}
a,
button,
input {
	@apply transition-colors duration-300;
}
